
!third_party/gmail/*.sha1
!third_party/gmscore/*.sha1
!third_party/internal/*.sha1
!third_party/nest/*.sha1
!third_party/proguard/*.sha1
!third_party/youtube/*sha1
#*#
*.dex
*.iml
*~
.#*
.gradle/
.gradle_user_home
.idea/
android-data*/
build/
buildSrc/out/
gradle-app.setting
gradle/*
gradlew
gradlew.bat
local.properties
r8.ipr
r8.iws
src/test/jack/ub-jack
tests/2016-12-19/art
tests/2016-12-19/art.tar.gz
tests/2017-10-04/art
tests/2017-10-04/art.tar.gz
third_party/android_cts_baseline
third_party/android_cts_baseline.tar.gz
third_party/android_jar/lib
third_party/android_jar/lib-v[0-9][0-9]
third_party/android_jar/lib-v[0-9][0-9].tar.gz
third_party/android_jar/lib.tar.gz
third_party/android_sdk
third_party/android_sdk.tar.gz
third_party/bazel
third_party/bazel.tar.gz
third_party/benchmarks/android-sdk
third_party/benchmarks/android-sdk.tar.gz
third_party/benchmarks/antenna-pod
third_party/benchmarks/antenna-pod.tar.gz
third_party/benchmarks/gradle-java-1.6
third_party/benchmarks/gradle-java-1.6.tar.gz
third_party/benchmarks/kotlin-benches
third_party/benchmarks/kotlin-benches.tar.gz
third_party/benchmarks/santa-tracker
third_party/benchmarks/santa-tracker.tar.gz
third_party/benchmarks/wordpress
third_party/benchmarks/wordpress.tar.gz
third_party/cf_segments
third_party/cf_segments.tar.gz
third_party/chrome/*
third_party/chrome/*.tar.gz
third_party/classlib
third_party/classlib.tar.gz
third_party/core-lambda-stubs
third_party/core-lambda-stubs.tar.gz
third_party/dart-sdk
third_party/dart-sdk.tar.gz
third_party/ddmlib
third_party/ddmlib.tar.gz
third_party/desugar/desugar_*.tar.gz
third_party/desugar/desugar_*/
third_party/framework
third_party/framework.tar.gz
third_party/gmail/*
third_party/gmscore/*
third_party/google-java-format
third_party/google-java-format.tar.gz
third_party/goyt
third_party/goyt.tar.gz
third_party/gradle-plugin
third_party/gradle-plugin.tar.gz
third_party/gradle/gradle
third_party/gradle/gradle.tar.gz
third_party/internal/*
third_party/iosched_2019
third_party/iosched_2019.tar.gz
third_party/jacoco/0.8.2/*
third_party/jacoco/0.8.2.tar.gz
third_party/jacoco/0.8.6/*
third_party/jacoco/0.8.6.tar.gz
third_party/jasmin
third_party/jasmin.tar.gz
third_party/jctf
third_party/jctf.tar.gz
third_party/jdwp-tests
third_party/jdwp-tests.tar.gz
third_party/jsr223-api-1.0
third_party/jsr223-api-1.0.tar.gz
third_party/junit
third_party/junit.tar.gz
third_party/kotlin/kotlin-compiler-1.3.11.tar.gz
third_party/kotlin/kotlin-compiler-1.3.11
third_party/kotlin/kotlin-compiler-1.3.41.tar.gz
third_party/kotlin/kotlin-compiler-1.3.41
third_party/kotlin/kotlin-compiler-1.3.72.tar.gz
third_party/kotlin/kotlin-compiler-1.3.72
third_party/kotlinx-coroutines-1.3.6.tar.gz
third_party/kotlinx-coroutines-1.3.6
third_party/nest/*
third_party/openjdk/desugar_jdk_libs
third_party/openjdk/desugar_jdk_libs.tar.gz
third_party/openjdk/jdk-11-test
third_party/openjdk/jdk-11-test.tar.gz
third_party/openjdk/jdk-11/Linux
third_party/openjdk/jdk-11/Linux.tar.gz
third_party/openjdk/jdk-11/Mac
third_party/openjdk/jdk-11/Mac.tar.gz
third_party/openjdk/jdk-11/Windows
third_party/openjdk/jdk-11/Windows.tar.gz
third_party/openjdk/jdk8/darwin-x86
third_party/openjdk/jdk8/darwin-x86.tar.gz
third_party/openjdk/jdk8/linux-x86
third_party/openjdk/jdk8/linux-x86.tar.gz
third_party/openjdk/openjdk-9.0.4/linux
third_party/openjdk/openjdk-9.0.4/linux.tar.gz
third_party/openjdk/openjdk-9.0.4/osx
third_party/openjdk/openjdk-9.0.4/osx.tar.gz
third_party/openjdk/openjdk-9.0.4/windows
third_party/openjdk/openjdk-9.0.4/windows.tar.gz
third_party/openjdk/openjdk-rt-1.8
third_party/openjdk/openjdk-rt-1.8.tar.gz
third_party/opensource-apps/android-suite-calculator
third_party/opensource-apps/android-suite-calculator.tar.gz
third_party/opensource-apps/anexplorer
third_party/opensource-apps/anexplorer.tar.gz
third_party/opensource-apps/antennapod
third_party/opensource-apps/antennapod.tar.gz
third_party/opensource-apps/applymapping
third_party/opensource-apps/applymapping.tar.gz
third_party/opensource-apps/chanu
third_party/opensource-apps/chanu.tar.gz
third_party/opensource-apps/friendlyeats
third_party/opensource-apps/friendlyeats.tar.gz
third_party/opensource-apps/iosched
third_party/opensource-apps/iosched.tar.gz
third_party/opensource-apps/sunflower
third_party/opensource-apps/sunflower.tar.gz
third_party/opensource-apps/wikipedia
third_party/opensource-apps/wikipedia.tar.gz
third_party/opensource_apps
third_party/opensource_apps.tar.gz
third_party/proguard/*
third_party/proguardsettings.tar.gz
third_party/proguardsettings/
third_party/proto.tar.gz
third_party/proto/
third_party/protobuf-lite.tar.gz
third_party/protobuf-lite/
third_party/r8
third_party/r8.tar.gz
third_party/r8-releases/2.0.74
third_party/r8-releases/2.0.74.tar.gz
third_party/r8mappings
third_party/r8mappings.tar.gz
third_party/remapper
third_party/remapper.tar.gz
third_party/retrace_benchmark
third_party/retrace_benchmark.tar.gz
third_party/retrace_internal
third_party/retrace_internal.tar.gz
third_party/rhino-1.7.10
third_party/rhino-1.7.10.tar.gz
third_party/rhino-android-1.1.1
third_party/rhino-android-1.1.1.tar.gz
third_party/sample_libraries
third_party/sample_libraries.tar.gz
third_party/tachiyomi
third_party/tachiyomi.tar.gz
third_party/youtube/*
third_party/youtube-developer/20200415
third_party/youtube-developer/20200415.tar.gz
tmp/
tools/*.pyc
tools/*/art
tools/*/art-5.1.1
tools/*/art-5.1.1.tar.gz
tools/*/art-6.0.1
tools/*/art-6.0.1.tar.gz
tools/*/art-7.0.0
tools/*/art-7.0.0.tar.gz
tools/*/art-8.1.0
tools/*/art-8.1.0.tar.gz
tools/*/art-9.0.0
tools/*/art-9.0.0.tar.gz
tools/*/art-10.0.0
tools/*/art-10.0.0.tar.gz
tools/*/art.tar.gz
tools/*/dalvik
tools/*/dalvik-4.0.4
tools/*/dalvik-4.0.4.tar.gz
tools/*/dalvik.tar.gz
tools/*/dx
tools/*/dx.tar.gz
venv/
