
!third_party/chrome/*.sha1
!third_party/gmail/*.sha1
!third_party/gmscore/*.sha1
!third_party/internal/*.sha1
!third_party/nest/*.sha1
!third_party/proguard/*.sha1
!third_party/youtube/*sha1
#*#
*.dex
*.iml
*~
.#*
.gradle/
.gradle_user_home
.idea/
android-data*/
build/
buildSrc/out/
src/*/out
d8_r8/*/out
gradle-app.setting
d8_r8/gradle*
local.properties
r8.ipr
r8.iws
src/test/jack/ub-jack
test_modules/tests_java_8/libs/
tests/2016-12-19/art
tests/2016-12-19/art.tar.gz
tests/2017-10-04/art
tests/2017-10-04/art.tar.gz
third_party/aapt2/
third_party/aapt2.tar.gz
third_party/api_database/api_database
third_party/api_database/api_database.tar.gz
third_party/api-outlining/simple-app-dump
third_party/api-outlining/simple-app-dump.tar.gz
third_party/android_cts_baseline
third_party/android_cts_baseline.tar.gz
third_party/clank/clank_google3_prebuilt
third_party/clank/clank_google3.tar.gz
third_party/android_jar/lib
third_party/android_jar/lib-v[0-9][0-9]
third_party/android_jar/lib-v[0-9][0-9].tar.gz
third_party/android_jar/lib-master
third_party/android_jar/lib-master.tar.gz
third_party/android_jar/lib.tar.gz
third_party/android_jar/libcore_latest
third_party/android_jar/libcore_latest.tar.gz
third_party/android_jar/api-versions.tar.gz
third_party/android_jar/api-versions
third_party/android_sdk
third_party/android_sdk.tar.gz
third_party/bazel
third_party/bazel.tar.gz
third_party/benchmarks/android-sdk
third_party/benchmarks/android-sdk.tar.gz
third_party/benchmarks/antenna-pod
third_party/benchmarks/antenna-pod.tar.gz
third_party/benchmarks/gradle-java-1.6
third_party/benchmarks/gradle-java-1.6.tar.gz
third_party/benchmarks/kotlin-benches
third_party/benchmarks/kotlin-benches.tar.gz
third_party/benchmarks/santa-tracker
third_party/benchmarks/santa-tracker.tar.gz
third_party/benchmarks/wordpress
third_party/benchmarks/wordpress.tar.gz
third_party/binary_compatibility_tests/compiler_api_tests.tar.gz
third_party/binary_compatibility_tests/compiler_api_tests
third_party/bundletool/bundletool-1.11.0
third_party/bundletool/bundletool-1.11.0.tar.gz
third_party/cf_segments
third_party/cf_segments.tar.gz
third_party/chrome/*
third_party/chrome/*.tar.gz
third_party/classlib
third_party/classlib.tar.gz
third_party/core-lambda-stubs
third_party/core-lambda-stubs.tar.gz
third_party/dagger/2.41
third_party/dagger/2.41.tar.gz
third_party/dart-sdk
third_party/dart-sdk.tar.gz
third_party/ddmlib
third_party/ddmlib.tar.gz
third_party/dependencies/
third_party/dependencies.tar.gz
third_party/dependencies_new/
third_party/dependencies_new.tar.gz
third_party/desugar/desugar_*.tar.gz
third_party/desugar/desugar_*/
third_party/framework
third_party/framework.tar.gz
third_party/gmail/*
third_party/gmscore/*
third_party/google/google-java-format/1.14.0
third_party/google/google-java-format/1.14.0.tar.gz
third_party/google-java-format
third_party/google-java-format.tar.gz
third_party/goyt
third_party/goyt.tar.gz
third_party/gradle-plugin
third_party/gradle-plugin.tar.gz
third_party/gradle/gradle
third_party/gradle/gradle.tar.gz
third_party/gradle/gradle-8.0
third_party/gradle/gradle-8.0.tar.gz
third_party/internal/*
third_party/iosched_2019
third_party/iosched_2019.tar.gz
third_party/jacoco/0.8.2/*
third_party/jacoco/0.8.2.tar.gz
third_party/jacoco/0.8.6/*
third_party/jacoco/0.8.6.tar.gz
third_party/jasmin
third_party/jasmin.tar.gz
third_party/jdwp-tests
third_party/jdwp-tests.tar.gz
third_party/jsr223-api-1.0
third_party/jsr223-api-1.0.tar.gz
third_party/junit
third_party/junit.tar.gz
third_party/kotlin/kotlin-compiler-1.3.11.tar.gz
third_party/kotlin/kotlin-compiler-1.3.11
third_party/kotlin/kotlin-compiler-1.3.41.tar.gz
third_party/kotlin/kotlin-compiler-1.3.41
third_party/kotlin/kotlin-compiler-1.3.72.tar.gz
third_party/kotlin/kotlin-compiler-1.3.72
third_party/kotlin/kotlin-compiler-1.4.20.tar.gz
third_party/kotlin/kotlin-compiler-1.4.20
third_party/kotlin/kotlin-compiler-1.5.0.tar.gz
third_party/kotlin/kotlin-compiler-1.5.0
third_party/kotlin/kotlin-compiler-1.6.0.tar.gz
third_party/kotlin/kotlin-compiler-1.6.0
third_party/kotlin/kotlin-compiler-1.7.0.tar.gz
third_party/kotlin/kotlin-compiler-1.7.0
third_party/kotlin/kotlin-compiler-1.8.0.tar.gz
third_party/kotlin/kotlin-compiler-1.8.0
third_party/kotlin/kotlin-compiler-dev.tar.gz
third_party/kotlin/kotlin-compiler-dev
third_party/kotlinx-coroutines-1.3.6.tar.gz
third_party/kotlinx-coroutines-1.3.6
third_party/multidex
third_party/multidex.tar.gz
third_party/nest/*
third_party/openjdk/desugar_jdk_libs
third_party/openjdk/desugar_jdk_libs.tar.gz
third_party/openjdk/desugar_jdk_libs_11
third_party/openjdk/desugar_jdk_libs_11.tar.gz
third_party/openjdk/desugar_jdk_libs_legacy
third_party/openjdk/desugar_jdk_libs_legacy.tar.gz
third_party/openjdk/desugar_jdk_libs_releases/1.0.9
third_party/openjdk/desugar_jdk_libs_releases/1.0.9.tar.gz
third_party/openjdk/desugar_jdk_libs_releases/1.0.10
third_party/openjdk/desugar_jdk_libs_releases/1.0.10.tar.gz
third_party/openjdk/desugar_jdk_libs_releases/1.1.0
third_party/openjdk/desugar_jdk_libs_releases/1.1.0.tar.gz
third_party/openjdk/desugar_jdk_libs_releases/1.1.1
third_party/openjdk/desugar_jdk_libs_releases/1.1.1.tar.gz
third_party/openjdk/desugar_jdk_libs_releases/1.1.5
third_party/openjdk/desugar_jdk_libs_releases/1.1.5.tar.gz
third_party/openjdk/jdk-[0-9][0-9]/linux
third_party/openjdk/jdk-[0-9][0-9]/linux.tar.gz
third_party/openjdk/jdk-[0-9][0-9]/osx
third_party/openjdk/jdk-[0-9][0-9]/osx.tar.gz
third_party/openjdk/jdk-[0-9][0-9]/windows
third_party/openjdk/jdk-[0-9][0-9]/windows.tar.gz
third_party/openjdk/jdk-11-test.tar.gz
third_party/openjdk/jdk-11-test/
third_party/openjdk/jdk8/darwin-x86
third_party/openjdk/jdk8/darwin-x86.tar.gz
third_party/openjdk/jdk8/linux-x86
third_party/openjdk/jdk8/linux-x86.tar.gz
third_party/openjdk/openjdk-9.0.4/linux
third_party/openjdk/openjdk-9.0.4/linux.tar.gz
third_party/openjdk/openjdk-9.0.4/osx
third_party/openjdk/openjdk-9.0.4/osx.tar.gz
third_party/openjdk/openjdk-9.0.4/windows
third_party/openjdk/openjdk-9.0.4/windows.tar.gz
third_party/openjdk/openjdk-rt-1.8
third_party/openjdk/openjdk-rt-1.8.tar.gz
third_party/opensource-apps/android-suite-calculator
third_party/opensource-apps/android-suite-calculator.tar.gz
third_party/opensource-apps/anexplorer
third_party/opensource-apps/anexplorer.tar.gz
third_party/opensource-apps/antennapod
third_party/opensource-apps/antennapod.tar.gz
third_party/opensource-apps/applymapping
third_party/opensource-apps/applymapping.tar.gz
third_party/opensource-apps/chanu
third_party/opensource-apps/chanu.tar.gz
third_party/opensource-apps/empty-activity
third_party/opensource-apps/empty-activity.tar.gz
third_party/opensource-apps/empty-compose-activity
third_party/opensource-apps/empty-compose-activity.tar.gz
third_party/opensource-apps/friendlyeats
third_party/opensource-apps/friendlyeats.tar.gz
third_party/opensource-apps/iosched
third_party/opensource-apps/iosched.tar.gz
third_party/opensource-apps/kiss
third_party/opensource-apps/kiss.tar.gz
third_party/opensource-apps/materialistic
third_party/opensource-apps/materialistic.tar.gz
third_party/opensource-apps/minimal-todo
third_party/opensource-apps/minimal-todo.tar.gz
third_party/opensource-apps/muzei
third_party/opensource-apps/muzei.tar.gz
third_party/opensource-apps/newpipe
third_party/opensource-apps/newpipe.tar.gz
third_party/opensource-apps/rover-android
third_party/opensource-apps/rover-android.tar.gz
third_party/opensource-apps/santa-tracker
third_party/opensource-apps/santa-tracker.tar.gz
third_party/opensource-apps/signal-android
third_party/opensource-apps/signal-android.tar.gz
third_party/opensource-apps/simple-calendar
third_party/opensource-apps/simple-calendar.tar.gz
third_party/opensource-apps/simple-camera
third_party/opensource-apps/simple-camera.tar.gz
third_party/opensource-apps/simple-file-manager
third_party/opensource-apps/simple-file-manager.tar.gz
third_party/opensource-apps/simple-gallery
third_party/opensource-apps/simple-gallery.tar.gz
third_party/opensource-apps/sqldelight
third_party/opensource-apps/sqldelight.tar.gz
third_party/opensource-apps/sunflower
third_party/opensource-apps/sunflower.tar.gz
third_party/opensource-apps/systemui
third_party/opensource-apps/systemui.tar.gz
third_party/opensource-apps/tachiyomi
third_party/opensource-apps/tachiyomi.tar.gz
third_party/opensource-apps/tivi
third_party/opensource-apps/tivi.tar.gz
third_party/opensource-apps/tusky
third_party/opensource-apps/tusky.tar.gz
third_party/opensource-apps/wikipedia
third_party/opensource-apps/wikipedia.tar.gz
third_party/opensource-apps/android/compose-samples/*
third_party/proguard/*
third_party/proguardsettings.tar.gz
third_party/proguardsettings/
third_party/proto.tar.gz
third_party/proto/
third_party/protobuf-lite.tar.gz
third_party/protobuf-lite/
third_party/r8
third_party/r8.tar.gz
third_party/r8-releases/2.0.74
third_party/r8-releases/2.0.74.tar.gz
third_party/r8-releases/3.2.54
third_party/r8-releases/3.2.54.tar.gz
third_party/r8mappings
third_party/r8mappings.tar.gz
third_party/remapper
third_party/remapper.tar.gz
third_party/retrace
third_party/retrace.tar.gz
third_party/retrace_benchmark
third_party/retrace_benchmark.tar.gz
third_party/retrace_internal
third_party/retrace_internal.tar.gz
third_party/rhino-1.7.10
third_party/rhino-1.7.10.tar.gz
third_party/rhino-android-1.1.1
third_party/rhino-android-1.1.1.tar.gz
third_party/sample_libraries
third_party/sample_libraries.tar.gz
third_party/tachiyomi
third_party/tachiyomi.tar.gz
third_party/youtube/*
tmp/
tools/*.pyc
tools/__pycache__
tools/*/art
tools/*/art-5.1.1
tools/*/art-5.1.1.tar.gz
tools/*/art-6.0.1
tools/*/art-6.0.1.tar.gz
tools/*/art-7.0.0
tools/*/art-7.0.0.tar.gz
tools/*/art-8.1.0
tools/*/art-8.1.0.tar.gz
tools/*/art-9.0.0
tools/*/art-9.0.0.tar.gz
tools/*/art-10.0.0
tools/*/art-10.0.0.tar.gz
tools/*/host/art-12.0.0-beta4
tools/*/host/art-12.0.0-beta4.tar.gz
tools/*/host/art-13.0.0
tools/*/host/art-13.0.0.tar.gz
tools/*/host/art-14.0.0-dp1
tools/*/host/art-14.0.0-dp1.tar.gz
tools/*/host/art-master
tools/*/host/art-master.tar.gz
tools/*/art.tar.gz
tools/*/dalvik
tools/*/dalvik-4.0.4
tools/*/dalvik-4.0.4.tar.gz
tools/*/dalvik.tar.gz
tools/startup/__pycache__
venv/
